<%- include('./includes/dash.ejs') %>
<link rel="stylesheet" href="/assets/css/dashboard.css">
<link rel="stylesheet" href="/assets/css/devices.css">
<section class="home">
    <div class="text">Devices</div>
    <div class="dash_container">
        <div class="interactionCard">
            <div class="interactionCardTitle"> Vest Version </div>
            <div class="interactionCardContent">
                <form action="/api/vestvc" method="POST">
                    <input type="text" placeholder="<%- Vest['version'] %>" class="box" name="version" autocomplete="off" required>
                    <button type="submit" class="btn">Save Version</button>
                </form>
            </div>
        </div>
        <div class="interactionCard">
            <div class="interactionCardTitle"> Weapon  Version</div>
            <div class="interactionCardContent">
                <form action="/api/weaponvc" method="POST">
                    <input type="text" placeholder="<%- Weapon['version'] %>" class="box" name="version" autocomplete="off" required>
                    <button type="submit" class="btn">Save Version</button>
                </form>
            </div>
        </div>

        <div class="interactionCard">
            <div class="interactionCardTitle"> Vest Script </div>
            <div class="interactionCardContent">
                <form action="/api/uploadvest" method="POST" enctype="multipart/form-data">
                    <input type="file" placeholder="File" class="box" name="file" required>
                    <button type="submit" class="btn">Save Script</button>
                </form>
            </div>
        </div>
        <div class="interactionCard">
            <div class="interactionCardTitle"> Weapon Script </div>
            <div class="interactionCardContent">
                <form action="/api/uploadweapon" method="POST" enctype="multipart/form-data">
                    <input type="file" placeholder="File" class="box" name="file" required>
                    <button type="submit" class="btn">Save Script</button>
                </form>
            </div>
        </div>
        <div class="interactionCard" style="width: 93%; height: 290px;">
            <div class="interactionCardTitle"> Script List </div>
            <div class="interactionCardContent">
                
                <div class="scroll-container noscroll" style="margin-top: -20px;">
                    <div class="list">
                        <div class="position">
                            <a style="color: lawngreen;">
                            All files from /downloads/vest/
                            </a>
                        </div>
                        <% VestFiles.forEach(function(data) {%>
                            <div class="position" id="<%- data %>">
                                File:
                                <a style="color: red; text-decoration: none;" href="/devices/vestview/<%- data %>">
                                <%- data %>
                                </a>|
                                Action:
                                <a style="color: rgb(25, 0, 255); text-decoration: none;" href="/devices/delvest/<%- data %>">
                                Delete
                                </a> 
                                <a style="color: rgb(247, 0, 255); text-decoration: none;" href="/downloads/vest/<%- data %>">
                                Download
                                </a>
                            </div>
                        <%})%>
                        <div class="position">
                            <a style="color: lawngreen;">
                            All files from /downloads/weapon/
                            </a>
                        </div>
                        <% WeaponFiles.forEach(function(data) {%>
                            <div class="position" id="<%- data %>">
                                File:
                                <a style="color: red; text-decoration: none;" href="/devices/weaponview/<%- data %>">
                                <%- data %>
                                </a>|
                                Action:
                                <a style="color: rgb(25, 0, 255); text-decoration: none;" href="/devices/delweapon/<%- data %>">
                                Delete
                                </a>
                                <a style="color: rgb(247, 0, 255); text-decoration: none;" href="/downloads/weapon/<%- data %>">
                                Download
                                </a>
                            </div>
                        <%})%>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>